/* Icons */

@layer components {
  /* Icon container */
  .icon-container {
    border-radius: var(--radius-field);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Icon sizes */
  .icon-sm {
    font-size: 1.25rem;
  }

  .icon-md {
    font-size: 1.5rem;
  }

  .icon-lg {
    font-size: 1.875rem;
  }

  .icon-xl {
    font-size: 2.5rem;
  }

  .icon-2xl {
    font-size: 3rem;
  }
}
